#profile-photo-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 230px;
}

#profile-photo {
    margin-top: 37px;
    width: 190px;
    height: 190px;
    border: 2px solid silver;
    border-radius: 50%;
    z-index: 0;
    position: unset;
}

#change-photo-label {
    color: aliceblue;
    cursor: pointer;
    width: 190px;
    height: 95px;
    z-index: 400;
    background-color: #0000009e;
    text-align: center;
    border-bottom-right-radius: 190px;
    border-bottom-left-radius: 190px;
    margin-top: -95px;
}

#photo{
    display: none;
}

#username {
    color: aliceblue;
    padding: 5px;
    top: 25px;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.header-sub-label{
    color: grey;
}

#logout-btn {
    font-size: 17px;
    margin-top: auto;
}
